<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @batch.banner_url %>');">
  <div class="container">
    <h1><%= @batch.name %><h1>
    <a class="btn btn-primary" href="#">Join Us</a>
  </div>
</div>

<br>

<div class="container">
  <%= link_to 'Edit', edit_batch_path(@batch) %> |
  <%= link_to 'Back', batches_path %>

  <br>
  <br>

  <div class="cards-form-grid">
    <div class="cards">

      <% @batch.students.each do |student| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= student.image_url %>')">
          <div class="card-text">
            <h4><%= student.name %></h4>
            <p><%= link_to "Kill", student_path(student), method: :delete %></p>
          </div>
        </div>
      <% end %>

    </div>

    <%= simple_form_for([@batch, @student]) do |f|%>
      <%= f.input :name, placeholder: 'Sean' %>
      <%= f.input :image_url %>
      <%= f.submit 'Save the Student!', class: 'btn btn-dark' %>
    <% end %>
  </div>
</div>

<br>

